/*  --------------------------------------------------------------------------
    variable
    --------------------------------------------------------------------------  */
    :root {
      --bg_color_deep: #416373;
      --btn_color: #548692;
      --hover_color_light: #e9f2f5;
      --hover_btn_color: #6e9ba6;
      --text_color_1: #4c4c4c;
      --text_color_2: #808080;
      --border_color_1: #ccc;
      --color_green: #57c9c1;
      --color_red: #f87171;
    }

/*  --------------------------------------------------------------------------
    CSS
    --------------------------------------------------------------------------  */
    html,
    body { width: 100%; height: 100%; }
    body { color: var(--text_color_2); font-family: Roboto, sans-serif, Microsoft JhengHei; font-size: 14px; min-width: 370px; position: relative; }
    a.custom-link { text-decoration: none; cursor: pointer; }
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { color: var(--text_color_2); }
    img { max-width: 100%; }

/*  --------------------------------------------------------------------------
    .top-bar
    --------------------------------------------------------------------------  */
    .top-bar { background-color: var(--bg_color_deep); width: 100%; height: 54px; padding: 0 15px; position: absolute; z-index: 4; }
    .sidebar-menu-btn { color: #fff; line-height: 54px; margin-right: 9px; cursor: pointer; }
    .sidebar-menu-btn:hover,
    .sidebar-menu-btn:focus { color: #fff; text-decoration: none; }
    .web-title { color: #fff; line-height: 54px; display: inline-block; margin: 0; }
    .web-title:hover,
    .web-title:focus { color: #fff; text-decoration: none; }

    .top-bar .right-group { line-height: 54px; }
    .right-group { float: right; }
    .right-group > a { color: #fff; display: inline-block; margin-right: 9px; }
    #change_lang_group > a { color: #fff; font-size: 18px; margin-right: 9px; }
    #change_lang_group .dropdown-menu > .active > a,
    #change_lang_group .dropdown-menu > .active > a:focus,
    #change_lang_group .dropdown-menu > .active > a:hover { background-color: var(--btn_color); }

    #sidebar_menu_btn:after { content: ''; background-color: rgba(0, 0, 0, 0.5); opacity: 0; visibility: hidden; width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 9; transition-duration: 0.5s; -webkit-transition-duration: 0.5s; }
    #sidebar_menu_btn.active:after { opacity: 1; visibility:visible; }

/*  --------------------------------------------------------------------------
    .title-tab
    --------------------------------------------------------------------------  */
    .title-tab-group { background-color: #eee; width: 87px; height: 100%; position: fixed; margin-top: 54px; z-index: 3; transition-duration: 0.5s; -webkit-transition-duration: 0.5s; }
    .title-tab-group.active { -webkit-transform: translateX(0); transform: translateX(0); z-index: 10; }
    .title-tab-group.nav-stacked > li + li { margin: 0; }
    li.title-tab-item { width: 100%; height: 87px; }
    li.title-tab-item > a { color: var(--text_color_1); text-align: center; width: 100%; height: 100%; border-radius: 0; padding: 18px 0 0; }
    li.title-tab-item > a:hover { background-color: var(--hover_color_light); }
    li.title-tab-item.active > a:hover,
    li.title-tab-item.active > a:focus,
    li.title-tab-item.active > a { color: #fff; background-color: var(--btn_color); }
    li.title-tab-item > a .svg { width: 34px; height: 34px; }
    li.title-tab-item > a .svg path { fill: var(--text_color_1); }
    li.title-tab-item.active  > a .svg path { fill: #fff; }
    li.title-tab-item > a > i { font-size: 32px; }
    li.title-tab-item > a > i.fa-cubes { font-size: 26px; }
    #version_text { text-align: center; width: 100%; position: absolute; bottom: 62px; left: 0; z-index: 999; }

/*  --------------------------------------------------------------------------
    footer
    --------------------------------------------------------------------------  */
    .footer { background-color: var(--bg_color_deep); text-align: center; border-radius: 4px; width: 100%; max-width: 380px; padding: 9px; margin: 0 auto; margin-top: 80px; }
    .footer > p { color: #fff; margin: 0; }
    .footer > i { color: #fff; }

/*  --------------------------------------------------------------------------
    modals
    --------------------------------------------------------------------------  */
    #modal_img { background-color: rgba(0, 0, 0, 0.7); padding: 15px; }
    #modal_img .modal-dialog { width: 100%; margin-bottom: 0; }
    #modal_img .modal-content { background: none; border: none; box-shadow: none; }
    #modal_img .modal-body { padding: 0; }
    #modal_img .modal-body > a[data-dismiss="modal"] { color: #fff; font-size: 30px; font-weight: bold; text-decoration: none; position: absolute; top: -42px; right: 0; cursor: pointer; }
    #modal_img .modal-body img { max-width: 100%; display: block; margin: 0 auto; }

/*  --------------------------------------------------------------------------
    .pages
    --------------------------------------------------------------------------  */
    .main-page { background-color: #d8d8d8; width: 100%; height: 100%; position: absolute; top: 0; padding-top: 54px; padding-left: 87px; overflow: hidden; transition-duration: 0.5s; -webkit-transition-duration: 0.5s; }
    .page { height: 100%; padding: 9px 15px; overflow-y: auto; }
    .page-body { width: 100%; float: left; }
    .page-information { padding: 45px; }
    .page-information ul { margin-bottom: 0; }
    .page-collection { padding-bottom: 45px; }

/*  --------------------------------------------------------------------------
    .page-information
    --------------------------------------------------------------------------  */
    .about-me-group table td:first-child { text-align: center; }

    .profile-picture-group { max-height: 296px; }
    .profile-picture-group img { max-height: 257px; margin-bottom: 15px; }
    .profile-picture-group span + span { margin-left: -5px; }
    .profile-picture-group .fa { text-align: center; width: 24px; margin-right: 9px; }
    .info-group { max-width: 320px; }

/*  --------------------------------------------------------------------------
    .page-demo
    --------------------------------------------------------------------------  */
    #demo_lang_btn .btn { background-color: #fff; font-size: 10px; border: 1px var(--border_color_1) solid; border-radius: 20px; padding: 4px 9px; margin-right: 9px; margin-bottom: 9px; }
    #demo_lang_btn .btn:focus { outline: none; }

/*  --------------------------------------------------------------------------
    .card
    --------------------------------------------------------------------------  */
    .card { background-color: #fff; width: 100%; margin-bottom: 40px; box-shadow: 2px 2px 4px #aaa; }
    .card-link-line { width: 0; height: 28px; display: block; border-width: 0 2px 0 0; border-style: dashed; border-color: var(--bg_color_deep); margin: 0 auto; margin-top: -40px; }
    .card .card-title { background-color: var(--bg_color_deep); padding: 15px; }
    .card .card-title * { color: #fff; margin: 0; }
    .card .card-body { position: relative; padding: 25px; }
    .card.car-left { display: table; }
    .card.car-left .card-title { text-align: center; width: 120px; display: table-cell; vertical-align: middle; }

/*  --------------------------------------------------------------------------
    .dataTable
    --------------------------------------------------------------------------  */
    table.dataTable { width: 100% !important; }
    table.dataTable thead th { position: relative; background-image: none !important; }
    table.dataTable thead th.sorting:after,
    table.dataTable thead th.sorting_asc:after,
    table.dataTable thead th.sorting_desc:after { position: absolute; top: 12px; right: 8px; display: block; font-family: FontAwesome; opacity: 0.8; }
    table.dataTable thead th.sorting:after { content: "\f0dc"; color: #fff; font-size: 0.8em; padding-top: 0.12em; }
    table.dataTable thead th.sorting_asc:after { content: "\f0d8"; }
    table.dataTable thead th.sorting_desc:after { content: "\f0d7"; }
    .dataTable thead { color: #fff; background-color: var(--bg_color_deep); }

/*  --------------------------------------------------------------------------
    .map
    --------------------------------------------------------------------------  */
    .map { height: -webkit-fill-available; }

/*  --------------------------------------------------------------------------
    .img
    --------------------------------------------------------------------------  */
    .img-outline { border: var(--border_color_1) 1px solid; }
    .img-modal { cursor: pointer; }
    [src="img/流程圖.png"] { max-height: 400px; display: block; margin: 0 auto; }

/*  --------------------------------------------------------------------------
    .switch
    --------------------------------------------------------------------------  */
    .switch { position: relative; top: 12px; display: inline-block; width: 28px; height: 12px; }
    .switch input { display: none; }
    .slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; -webkit-transition: .3s; transition: .3s; }
    .slider:before { background-color: #ddd; position: absolute; content: ""; height: 20px; width: 20px; left: -4px; bottom: -4px; -webkit-transition: .3s; transition: .3s; }
    input:checked + .slider { background-color: #57c9c1; }
    input:focus + .slider { box-shadow: 0 0 1px #57c9c1; }
    input:checked + .slider:before { background-color: #3eaba3; -webkit-transform: translateX(16px); -ms-transform: translateX(16px); transform: translateX(16px); }
    .switch input[disabled] + .slider,
    .switch input[disabled] + .slider:before { cursor: not-allowed; }

    /* Rounded sliders */
    .slider.round { border-radius: 34px; }
    .slider.round:before { border-radius: 50%; }

/*  --------------------------------------------------------------------------
    .slide
    --------------------------------------------------------------------------  */
    .slide-group { width: 100%; position: relative; overflow-x: hidden; }
    .slide-item-group { width: max-content; height: 100%; }
    .slide-item { height: 100%; float: left; padding: 0 42px; }
    .slide-item * { max-height: 100%; }
    .slide-item img { max-height: 400px; display: block; margin: 0 auto; }
    .slide-btn { position: absolute; z-index: 1; }
    .slide-btn[data-slide-btn="pref"] { left: 0; }
    .slide-btn[data-slide-btn="next"] { right: 0; }

    /* .slide-group { width: 100%; height: 280px; position: relative; overflow-x: hidden; }
    .slide-item-group { width: 100%; }
    .slide-item { width: 100%; height: 100%; position: absolute; }
    .slide-item * { max-height: 100%; }
    .slide-item img { display: block; margin: 0 auto; }
    .slide-btn { position: absolute; top: 123px; z-index: 1; }
    .slide-btn[data-slide-btn="pref"] { left: 0; }
    .slide-btn[data-slide-btn="next"] { right: 0; } */

/*  --------------------------------------------------------------------------
    .loading-page
    --------------------------------------------------------------------------  */
    .loading-page { background-color: rgba(0, 0, 0, 0.75); width: 100%; height: 100%; position: fixed; display: none; z-index: 9999; }
    .loading-page i { color: #fff; }

/*  --------------------------------------------------------------------------
    .margin
    --------------------------------------------------------------------------  */
    .margin-bottom-15 { margin-bottom: 15px; }

/*  --------------------------------------------------------------------------
    else
    --------------------------s------------------------------------------------  */
    .div-outside { width: 100%; height: 100%; display: table; }
    .item-inside { text-align: center; display: table-cell; vertical-align: middle; }
    .horizon-line { height: 3px; display: block; border-bottom:  1px var(--border_color_1) solid; margin: 15px 20px; }
    .horizon-line-fill { height: 3px; display: block; border-bottom:  1px var(--border_color_1) solid; margin: 15px 0; }
    .vertical-line-group { width: 100%; height: 100%; position: absolute; top: 0; left: 0; padding: 15px 0; }
    .vertical-line { width: 0px; height: 100%; display: block; border-left:  1px var(--border_color_1) solid; margin: 0 auto; }
    .inline-block { display: inline-block; }

@media screen and (min-width: 1200px) {
    .sidebar-menu-btn { display: none; }
}
@media screen and (max-width: 1200px) {
    .main-page { padding-left: 0; }
    .title-tab-group { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}
@media screen and (min-width: 768px) {
    .small-show { display: none; }
}
@media screen and (max-width: 767px) {
    body { font-size: 12px; }
    h1 { font-size: 34px; }
    h2 { font-size: 28px; }
    h3 { font-size: 22px; }
    h4 { font-size: 16px; }
    h5 { font-size: 12px; }
    h6 { font-size: 10px; }

    .small-show { display: block; }
    .small-hide { display: none; }

    #modal_img { padding: 42px 4px; }
    #modal_img .modal-dialog { margin: 0; }
    #modal_img .modal-body > a { font-size: 20px; top: -28px; }
    .page-information,
    .page-collection { padding: 15px 4px 15px; }
    .page-demo { padding: 15px 0; }
    .small-text-center { text-align: center; }
}
